# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__

* Data Science Tools and Ecosystem
* Popular languages that Data Scientists use
* Commonly used libraries used by Data Scientists

### Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

### Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. MatplotLib
3. NumPy
4. Tensorflow
5. SciPy

| Data Science Tools |
|--------------------|
| Jypyter Notebook   |
| RStudio            |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
 #This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

minutes = 200
hours = minutes / 60

print(hours)

3.3333333333333335

## Author
Ifunanya Iloh